<section id="about-me">
	<div class="container">
		<div class="photo-square"></div>
		<h1>hello!<br>i'm bruno!</h1>
		<p class="role">backend engineer</p>
		<p class="description">ipsum dolor sit amet consectetur adipiscing elit ut et massa mi.
		aliquam in hendrerit urna. pellentesque sit amet sapien fringilla, mattis ligula consectetur,
		ultrices mauris.</p>
		<div class="buttons">
			<app-button label="schedule a meeting" buttontype="primary"></app-button>
			<app-button label="get my resume" buttontype="secondary"></app-button>
		</div>
	</div>
</section>


