<section class="about-me">
  <div class="container">
	  <div class="photo-square">
	    <img [src]="profilePic" alt="Profile picture"/>
	  </div>
		<h1>Hello!<br>I'm Bruno!</h1>
		<p class="role">Fullstack Engineer</p>
		<p class="description">ipsum dolor sit amet consectetur adipiscing elit ut et massa mi.
		aliquam in hendrerit urna. pellentesque sit amet sapien fringilla, mattis ligula consectetur,
		ultrices mauris.</p>
		<div class="buttons">
			<app-button label="Schedule a meeting" buttonType="Primary"></app-button>
			<app-button label="Get my resume" buttonType="Secondary"></app-button>
		</div>
  </div>
</section>


