<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8"/>
		<title>Bruno R. Onissanti's portfolio</title>
		<link rel="stylesheet" href="app.component.scss">
	</head>

	<header>
		<nav>
			<input type="checkbox" id="check">
			<label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>

			<!-- Menu -->
			<label class="logo">Bruno R Onissanti</label>
			<ul>
				<li><a class="active" href="#">Home</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">About</a></li>
			</ul>
			<!-- End of Menu -->
		</nav>
	</header>

	<body>
		<section id="about-me">
			<div class="container">
				<div class="photo-square"></div>
				<h1>Hello!<br>I'm Bruno!</h1>
				<p class="role">Backend Engineer</p>
				<p class="description">ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi.
				Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
				ultrices mauris.</p>
				<div class="buttons">
					<app-button label="Schedule a meeting" buttonType="Primary"></app-button>
					<app-button label="Get my resume" buttonType="Secondary"></app-button>
				</div>
			</div>
		</section>
		<main>
			<section id="portfolio">
				<div class="container-B">
					<h2>Portfolio</h2>
					<p class="description">ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi.
					Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
					ultrices mauris.</p>
					<div class="projects-cards">
						<img src="#" alt="Ray Tracing project made in C" style="width:100%">
						<div class="card-container">
							<h4>MiniRT</h4>
							<p>A Ray Tracing engine made in C.</p>
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>

