<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8"/>
		<title>Bruno R. Onissanti's portfolio</title>
		<link rel="stylesheet" href="app.component.scss">
	</head>

  <app-header></app-header>

	<body>
    <app-about-me></app-about-me>
		<main>
			<section id="portfolio">
				<div class="container-B">
					<h2>Portfolio</h2>
					<p class="description">ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi.
					Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
					ultrices mauris.</p>
					<div class="projects-cards">
						<img src="#" alt="Ray Tracing project made in C" style="width:100%">
						<div class="card-container">
							<h4>MiniRT</h4>
							<p>A Ray Tracing engine made in C.</p>
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>

